@import "tailwindcss";

@font-face {
  font-family: "Mona Sans";
  src: url("/fonts/MonaSans/fonnts.com-Mona-Sans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html,body{
    font-family: "Mona Sans", sans-serif;
    background-color: #030712;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #030712; /* bg-gray-950 */
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #18023f, #02102d);
  border-radius: 10px;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #8b5cf6, #3b82f6);
}